.form {
  position: relative;
  margin-bottom: 2em;
}

.sr-only {
  visibility: hidden;
  position: absolute;
}

.form-input {
  width: 100%;
  display: block;
  padding: 1.5em 2em 1.5em 5em;
  border: none;
  outline: none;
  background: var(--color-lighter-1);
  border-radius: 2em;
}

.form-input::placeholder {
  font-weight: 700;
  font-size: 1.15rem;
  color: var(--color-blue-light);
}

.input-icon {
  position: absolute;
  left: 2.5em;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-blue-darker);
}

.overview .list {
  width: 100%;
  display: flex;
  margin-bottom: 1.5em;
}

.overview .listItem {
  padding: 1em;
  border: 1px solid var(--color-blue-lighter);
  display: block;
  border-radius: 3px;
}

.overview .listItem:not(:last-child) {
  margin-right: 1em;
}

.overview .listItem-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.overview h2 {
  margin-bottom: 0.5em;
}

.listItem-description {
  font-weight: 400;
  font-size: 1.2rem;
}
