.chart {
  width: 100%;
  border: 1px solid var(--color-blue-lighter);
  padding: 1.5em;
  border-radius: 3px;
  margin-bottom: 2em;
}

.chart-heading {
  display: flex;
  align-items: center;
  margin-bottom: 5em;
}

.chart-heading h3 {
  font-size: 1.25rem;
  color: var(--color-blue-darker);
}

.chart-heading h3:nth-child(2) {
  margin-right: auto;
  margin-left: 1.5em;
  color: var(--color-blue-light-1);
}

.chart-heading select {
  border: 1px solid var(--color-blue-lighter);
  padding: 0.25em;
  color: var(--color-blue-dark);
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: 0.3em;
}

.chart-heading select:focus {
  outline: none;
}

.figures {
  display: flex;
}

.values {
  display: flex;
  flex-direction: column;
  padding-right: 4em;
  min-height: 20em;
  justify-content: space-between;
}

.values > p {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-blue-light-1);
}

.graph {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.graph-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.graph .bars {
  height: 100%;
  width: 1.4em;
  border-radius: 2em;
  position: relative;
  z-index: 9;
}

.graph .months {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-blue-light-1);
}

.graph .line {
  position: absolute;
  width: 100%;
  border: 1px dashed #f8fbfd;
}

.graph .line-1 {
  bottom: 1.5em;
}

.graph .line-2 {
  bottom: 9.5em;
}

.graph .line-3 {
  top: 6.25em;
}

.chat-icon {
  padding: 1em 2em;
  background: var(--color-primary);
  border-radius: 3px;
  position: absolute;
  left: 32.4%;
  top: -6em;
  color: #fff;
  text-align: center;
  z-index: 9999;
}

.chat-icon::after {
  display: block;
  content: "";
  width: 3em;
  height: 4em;
  clip-path: polygon(100% 0, 0 0, 53% 34%);
  background: var(--color-primary);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 4em;
}

.chat-icon h4 {
  font-size: 1.05rem;
  letter-spacing: 0.1em;
}

.chat-icon p {
  font-size: 0.65rem;
  margin-bottom: 0.5em;
}
