.main {
  width: 100%;
  background: #fff;
  border-radius: 1em;
  display: flex;
  padding: 5em 2em;
}

.aside {
  border-right: 1px solid var(--color-blue-lighter);
  width: 20em;
}

.mid-contents {
  flex: 1;
  padding-left: 3em;
  padding-right: 3em;
}
