@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --color-primary: #347ae2;
  --color-blue-light: #b5bfd3;
  --color-blue-dark: #3a4a7a;
  --color-blue-darker: #2d4070;
  --color-blue-lighter: #e7eefa;
  --color-lighter-1: #f6faff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #ebf1f6;
  padding: 7em 5em;
}

ul {
  list-style: none;
}
